
<html>

<head>
	<title></title>
</head>

<body>

<h2>Account information</h2>
<p>
	Username: {{ request.user.username }}<br/>
	Name: {{ request.user.first_name }} {{ request.user.last_name }}<br/>
	Email: {{ request.user.email }}<br/>
	Is staff? {{ request.user.is_staff }}<br/>
	Is active? {{ request.user.is_active }}<br/>
	Is superuser? {{ request.user.is_superuser }}<br/>
	Last login: {{ request.user.last_login }}<br/>
	Date joined: {{ request.user.date_joined }}<br/>
	Groups: {{ request.user.groups }}<br/>
	Group permissions: {{ request.user.get_group_permissions }}<br/>
	Permissions: {{ request.user.user_permissions }}<br/>
</p>

<p><a href="/accounts/logout">Logout</a></p>

</body>

</html>

