
* {
	margin: 0 0;
	padding: 0 0;
}

#wrapper {
	border: 2px solid black;
	margin: 10px auto;
	padding: 5px;
	width: 640px;
	height: 480px;
	font-family: Verdana;
	font-weight: bold;
}

span.number {
	background-color: #333;
	color: white;
	border: 1px solid black;
}

